<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>104723769055-va492udjb7rjk5lq6o1lph3iut5taso1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.104723769055-va492udjb7rjk5lq6o1lph3iut5taso1</string>
	<key>API_KEY</key>
	<string>AIzaSyC6EDiR113fdlMUGjHuma_WXR1jQYo6bfQ</string>
	<key>GCM_SENDER_ID</key>
	<string>104723769055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.epoha.Coffee-Shop</string>
	<key>PROJECT_ID</key>
	<string>coffee-shop-65e34</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-shop-65e34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:104723769055:ios:475006a81537bc4b022b6a</string>
	<key>DATABASE_URL</key>
	<string>https://coffee-shop-65e34.firebaseio.com</string>
</dict>
</plist>